# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
build/

# CocoaPods
Pods/

# SPM
.build/
.swiftpm/

# macOS
.DS_Store
*.swp
*~

# Secrets
*.env
*.p8
*.p12
*.mobileprovision
